/*common styles*/
html * {
    text-rendering: optimizeLegibility;
    font-smoothing:antialiased;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%;
}
:focus{
    outline: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #404040
}
.h1,.h2,h1,h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: 40px;
}
.h3,.h4,.h5,.h6,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.7px;
    line-height: 30px;
}
a:hover,a:focus{
    text-decoration: none;
}
strong{
    font-weight: 500;
}
.no-pad{
    padding: 0 !important;
}
.md-pad{
    padding: 30px 0;
}
.no-mar{
    margin: 0 !important;
}
ul,ol{
    padding: 0;
    margin: 0;
}
.f-white{
    color: white;
}
.f-16{
    font-size: 16px;
}
.ak-table{
    display: table;
}
.table-cell{
    display: table-cell !important;
    vertical-align: middle;
}

/*Vertical align*/
.vertical-table{
    display: table;
    height: 100%;
    width: 100%;
}
.vertical-cell{
    display: table-cell;
    vertical-align: middle;
}
.title-lead {
    font-size: 50px;
    line-height: 70px;
    font-weight: 200;
    margin-top: 0;
}
.social-icons{
    list-style: none;
    padding: 0;
    padding-top: 1em;
}
.social-icons li{
    display: inline-block;
    font-size: 1.2em;
    height: 40px;
    width: 40px;
    line-height: 1;
    vertical-align: middle;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px 20px 5px;
    cursor: pointer;
}
.social-icons li a{
    color: white;
}
.fa-fb, .fa-tw, .fa-ld, .fa-wa, .fa-gp{
    background: rgba(255,255,255,0.2);
}
.fa-fb:hover{
    background: #3b5998;
    transition: 0.5s ease;
    -webkit-transform: 0.5s ease;
}
.fa-tw:hover {
    background:#55acee;
    transition: 0.5s ease;
    -webkit-transform: 0.5s ease;
}
.fa-gp:hover{
    background: #dd4b39;
    transition: 0.5s ease;
    -webkit-transform: 0.5s ease;
}
.fa-ld:hover{
    background: #007bb5;
    transition: 0.5s ease;
    -webkit-transform: 0.5s ease;
}
.fa-wa:hover{
    background: #4dc247;
    transition: 0.5s ease;
    -webkit-transform: 0.5s ease;
}

/*Page1*/
.main-nav.navbar .navbar-nav li a{
    padding-top: 0;
    padding-bottom: 0;
    height: 65px;
    line-height: 65px;
}
.main-content {
    padding: 25px;
}
/*./Page1*/

/*Media queries*/
/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (orientation: portrait) {

}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (orientation: landscape) {
    body{
        font-size: 14px;
    }
