
/* Global Styles */

html,
body {
    height: 100%;
}
*{
    text-rendering: optimizeLegibility;
    font-smoothing:antialiased;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    outline: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%
}
body {
    font-family: 'Raleway', sans-serif;
    color: #4d4d4d;
    background: #F5F5F5;
    letter-spacing: 0.3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    padding-top: 50px; 
}
a:hover,a:focus,a:active{
    text-decoration: none;
}
.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}
.f-white{
    color: white;
}
/* Home Page */
.navbar-default{
    margin-bottom: 0;
    background: #3B5998;
}
.main-header .navbar-default .nav > li > a{
    color: white;
    letter-spacing: 0.4px;
    font-size: 15px;
}
.navbar{
    border-radius: 0;
    border-bottom: 0;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{
    color: white !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover{
    background: transparent !important;
    color: white !important;
}
.main-header .nav > li > a{
    padding: 15px 10px;
}
.main-header .dropdown-menu > li > a{
    padding: 6px 20px;
}
header.carousel {
    height: 60%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

footer {
    background: #3B5998;
    color: white;
    font-size: 15px;
    padding: 10px 0;
}
footer a{
    color: white;
}
footer a:hover, footer a:focus{
    color: white;
    opacity: 0.8
}
footer p, footer ul{
    margin: 0;
}
/*login popup*/
#login-popup .modal-dialog{
    width: 370px;
}
#login-popup .modal-header{
    background: #00d2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00d2ff , #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-align: center;
}
#login-popup .close{
    color: white;
    font-weight: 200;
    line-height: 26px;
    font-size: 30px;
    opacity: 1;
}
.social-login li{
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 0;
}
.social-login li a:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.4s ease all;
}
.social-login li a{
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: white;
    display: block;
    font-size: 18px;
}
#login-popup hr{
    position: relative;
}
#login-popup hr:after{
    position: absolute;
    content: "or";
    left: calc(50% - 25px);
    width: 50px;
    top: -14px;
    background: white;
    text-align: center;
}
#login-popup form{
    padding: 15px 0;
}
#login-popup form .form-control,#login-popup form .btn{
    height: 45px;
    box-shadow: none;
    border-radius: 0;
    padding: 12px;
}
#login-popup .modal-footer{
    text-align: center;
}
/*Error message alignment*/
.form-group, .input-group{
    position: relative;
}
.error{
    font-weight: 400;
    font-size: 12px;
    color: red;
    text-transform: capitalize;
    position: absolute;
    right: 5px;
}
/* Responsive Styles */

@media(max-width:991px) {

}

@media(max-width:767px) {
    header.carousel .carousel {
        height: 70%;
    }
    #login-popup .modal-dialog{
        width: 94%;
    }
}